<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table">
        <div class="row header">
          <div class="cell">
            Employee Name
          </div>
          <div class="cell">
            Date
          </div>
          <div class="cell">
            Planned Start
          </div>
          <div class="cell">
            Planned End
          </div>
          <div class="cell">
            First Clock-in
          </div>
          <div class="cell">
            Last Clock-out
          </div>
          <div class="cell">
            Actual Working Hours
          </div>
          <div class="cell">
            Location
          </div>
        </div>
    
        <% shift_assignments.each do |a|  %>
          <%= render partial: 'shared/shift_assignment_row', locals: { shift_assignment: a } %>
        <% end %>
        <%= will_paginate shift_assignments %>

        
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll(".edit-shift-assignment").forEach(function(row) {
    row.addEventListener("click", function() {
      var shiftAssignmentId = this.dataset.shiftAssignmentId;
      var hiddenField = document.querySelector("#edit-shift-assignment-form [name='shift_assignment_id']");
      hiddenField.value = shiftAssignmentId;
      
      var name = this.querySelector("[data-title='Name']").textContent.trim();
      var date = this.querySelector("[data-title='Date']").textContent.trim();
      var editedClockin = this.querySelector("[data-title='Displayed Clock-in']").textContent.trim();
      var editedClockout = this.querySelector("[data-title='Displayed Clock-out']").textContent.trim();
      
      var modal = document.querySelector("#edit-shift-assignment-modal");
      modal.querySelector(".modal-title").textContent = "Editing " + name + "'s record for " + date;
      modal.querySelector("#edited-clockin-time-input").value = editedClockin;
      modal.querySelector("#edited-clockout-time-input").value = editedClockout;
    });
  });
</script>

<% if current_user.hr? %>

<div class="modal" tabindex="-1" role="dialog" id="edit-shift-assignment-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Attendance Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: amend_path, method: "patch", id: "edit-shift-assignment-form", remote: true do |f| %>
          <%= f.hidden_field :shift_assignment_id %>

          <div class="form-group">
            <%= f.label :edited_clockin_time %>
            <%= f.text_field :edited_clockin_time, class: "form-control", id: "edited-clockin-time-input" %>
          </div>
          <div class="form-group">
            <%= f.label :edited_clockout_time %>
            <%= f.text_field :edited_clockout_time, class: "form-control", id: "edited-clockout-time-input" %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= f.submit "Save", class: "btn btn-primary", data: {bs_dismiss: 'modal'} %>

        </div>
      <% end  %>
    </div>
  </div>
</div>


<% end %>
