<style>
  .scrollable-container {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .scrollable-container::-webkit-scrollbar {
    width: 8px;
  }
  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .scrollable-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
</style>

<div class="form container">
  <%= form_tag("/sa", method: "post", id: "form") do %>
    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <%= label_tag(:start_time, "Start Time", class: "text-primary") %>
        <%= text_field_tag(:start_time, nil, 
    class: "form-control flatpickr-field", 
    data: {
        controller: "flatpickr",
        "flatpickr-enable-time" => true,
        "flatpickr-no-calendar" => true,
        "flatpickr-date-format" => "H:i"
    }
) %>
      </div>

      <div class="form-group col-md-6">
        <%= label_tag(:end_time, "End Time", class: "text-primary") %>
        <%= text_field_tag(:end_time, nil, 
    class: "form-control flatpickr-field", 
    data: {
        controller: "flatpickr",
        "flatpickr-enable-time" => true,
        "flatpickr-no-calendar" => true,
        "flatpickr-date-format" => "H:i"
    }
) %>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <%= label_tag(:from, "Start Date", class: "text-primary") %>
        <%= text_field_tag(:from, nil, 
    class: "form-control flatpickr-field", 
    data: {
        controller: "flatpickr",
        "flatpickr-min-date" => Time.zone.now.iso8601
    }
) %>
      </div>

      <div class="form-group col-md-6">
        <%= label_tag(:to, "End Date", class: "text-primary") %>
         <%= text_field_tag(:to, nil, 
    class: "form-control flatpickr-field", 
    data: {
        controller: "flatpickr",
        "flatpickr-min-date" => Time.zone.now.iso8601
    }
) %>
      </div>
    </div>

   <div class="form-row mb-3" data-controller="search">

      <div class="form-group col-md-6">
        <%= label_tag(:days_of_the_week, "Shift Days", class: "text-primary") %>
        <% Date::DAYNAMES.each_with_index do |day, index| %>
          <div class="form-check">
            <% if day == "Friday" || day == "Saturday" %>
              <%= check_box_tag "day_ids[]", index, false, class: "form-check-input text-danger" %>
              <%= label_tag "day_#{index}", day, class: "form-check-label text-danger" %>
            <% else %>
              <%= check_box_tag "day_ids[]", index, false, class: "form-check-input" %>
              <%= label_tag "day_#{index}", day, class: "form-check-label" %>
            <% end %>
          </div>
        <% end %>
      </div>

     <div class="form-group col-md-6">
    <%= label_tag(:employees, "Employees", class: "text-primary") %>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search employees", class: "form-control", data: {target: "search.input", action: "input->search#filter"} %>
    </div>
    <div id="employee-list" class="scrollable-container">
      <% @employees.each do |employee| %>
        <div class="form-check" data-target="search.employee">
          <%= check_box_tag 'employee_ids[]', employee.id, false, class: "form-check-input" %>
          <%= label_tag "employee_#{employee.id}", employee.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
    <div class="d-none" data-target="search.hiddenCount"></div>
  </div>
</div>

<div class="form-row mb-3">
  <div class="form-group col-md-12">
    <%= label_tag(:location_id, "Location", class: "text-primary") %>
    <% Location.all.each do |location| %>
      <div class="form-check">
        <%= radio_button_tag 'location_id', location.id, location.id == 1, class: "form-check-input" %>
        <%= label_tag "location_#{location.id}", location.name, class: "form-check-label" %>
      </div>
    <% end %>
  </div>
</div>


    <div class="form-group">
      <%= submit_tag("Create shifts", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>
